<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

     <!-- bootstrap --> 

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">



  <!-- Custom Styles -->
  <link rel="stylesheet" href="../public/style.css">

</head>
<body>

    <!--------------------------------------------------------- nab-bar ----------------------------------------------->
    <nav class="navbar bg-light navbar-expand-md navbar-toggleable-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img  class="logo" src="../public/logo/logo.jpg" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="logo" src="../public/logo/logo.jpg" alt="logo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./events.html">
                  Events
                </a>
               </li>
              
               <li class="nav-item">
                 <a class="nav-link" href="./about_us.html">
                   Staff
                 </a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="./contact.html">
                  Contact Us
                </a>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
<!-------------------------------------------------- body --------------------------------------------------------------->
    <div class="about_us" id="about">
        <h1 class="about-us-header mb-4 roboto-regular">About Us</h1>
        <div class="about-first-person shadow-lg rounded mb-5 pt-3">
            <img class="about-us-img " src="../public/images/Dr.adegoke.jpg" alt="pic">
            <h4 class="mt-3">Dr. T. M. Adegoke</h4>
        <p class="about-us-paragraph">
          Adegoke Taiwo Mobolaji, PhD, holds a B.Sc in Statistics from Nasarawa State University,
           Keffi, an M.Sc in Statistics from the University of Ibadan,
           and a Ph.D. in Statistics from the University of Ilorin.
           
        </p>
        <p class="about-us-paragraph">
          He has over ten years of experience as a data analyst and has worked on numerous projects. 
           
        </p>
        <p class="about-us-paragraph">
          He has published in both local and international journals. Adegoke is a member
           of the Professional Statistical Society of Nigeria, the Statistical Genomics, Data Mining, and Computational Biology Research Group at the University of Ilorin, and the European Centre for Research Training and Development in the UK. His research interests include
           Change-point Detection Modeling, Computational Statistics, Statistical Genomics, and Mathematical Statistics.
           
        </p>
        <p class="about-us-paragraph">
          Currently, he serves as an academic staff member at the Department of Mathematics 
          and Statistics, First Technical University, Ibadan, Nigeria. His expertise in statistical
           analysis makes him a valuable asset in the academic community and the field of data science,
           driving innovation and contributing significantly to statistical research and application.
           
        </p>
        
        </div>
        <div class="about-second-person shadow-lg rounded mt-5 pt-3 mb-5">
            <img class="about-us-img" src="../public/images/Mr.Dapo.jpg" alt="pic">
            <h4 class="mt-3">Mr. 0. M. Oladoja</h4>
        <p class="about-us-paragraph">
          Oladapo Muyiwa OLADOJA had his Professional Diploma in Statistics, BSc. (Statistics - First Class Grade) 
          and MSc. Degree in Statistics (Environmental Statistics Option) all from the University of Ibadan (UI), Nigeria.

        </p>
        <p class="about-us-paragraph">
          In 2018, he won a grant from French Institute for Research in Africa (IFRA-Nigeria) 
          to conduct a survey on Orphanage Homes in Oyo State.  He has publications in local and international 
          journals and also a member of International Biometric Society (IBS-GNi), The International Environmetrics
           Society (TIES), Institute of Society for Bayesian Analysis (ISBA), Institute of Mathematical Statistics (IMS)
            and Royal Statistical Society Nigeria Local Group (RSS-NLG). His area of interest includes Bayesian Environmetrics,
           Computational Statistics, Operations Research, Sports Modeling, Logistics and Supply Chain Management. 
        </p>
        <p class="about-us-paragraph">
          He is currently an academic staff at the Department of Mathematics and Statistics, First Technical 
          University, Ibadan, Nigeria. He is a data scientist, logistics and supply chain expert and a rabbit farmer.
           He likes online researching, traveling and watching classical soccer.
        </div>
         
    </div>
   <!----------------------------------------------- footer--------------------------------------------------------------->
   <footer class="py-3">
    <p>Copyright M2 Data Analytics & insights. All rights reserved</p>
  </footer>

  <!-----------------------------------------------Bootstrap with popper js------------------------------------------------>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
  <!--------------------------------------------------- custom js --------------------------------------------------------------->
  <script src="../src/main.js"></script>

</body>
</html>