<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Adegoke firm</title>
  
  <!-- bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">



  <!-- Custom Styles -->
  <link rel="stylesheet" href="../public/style.css">


</head>

<body> 

  <!--------------------------------------------------------- nav-bar -------------------------------------------------------------------->
  <nav class="navbar bg-light navbar-expand-md navbar-toggleable-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img  class="logo" src="../public/logo/logo.jpg" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="logo" src="../public/logo/logo.jpg" alt="logo"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">
                Contact Us
              </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="./about_us.html">
                 About Us
               </a>
             </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!---------------------------------------------- section-one ------------------------------------------------------------>

  <section class="section-one" id="home">
     
    <h1 class="introduction-header-one px-3 animation-one">
      Transforming Raw data into Actionable Insights. 
   </h1>
   <h1 class="introduction-header-two animation-two">
    Empowering Businesses To Make Concise Decisions And Stay Ahead of Competitors.
  </h1>
  </section>

  <!-------------------------------------------------------- section-two ---------------------------------------------------->
  <section class="pt-3 pb-4 section-two" id="service">

    <h1 class="pt-2 section-two-header">What We Do</h1>

    <ul class="px-3 mx-2 nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active service-button" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-Data-Collection" type="button" role="tab" aria-controls="pills-Data-Collection" aria-selected="true"><ul><li>Data Collection</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link service-button" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Data-Cleaning" type="button" role="tab" aria-controls="pills-Data Cleaning" aria-selected="false"><ul><li>Data Cleaning and Preparation</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-Data-Visual" type="button" role="tab" aria-controls="pills-Data Visual" aria-selected="false"><ul><li>Data Visualisation</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-Statistical" type="button" role="tab" aria-controls="pills-Statistical" aria-selected="false"><ul><li>Statistical Analysis</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-Thematic" type="button" role="tab" aria-controls="pills-Thematic" aria-selected="false"><ul><li>Thematic Analysis</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-Custom" type="button" role="tab" aria-controls="pills-Custom" aria-selected="false"><ul><li>Custom Research Project</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-ML" type="button" role="tab" aria-controls="pills-ML" aria-selected="false"><ul><li>Machine learning(ML)</li></ul></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link service-button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-Training" type="button" role="tab" aria-controls="pills-Training" aria-selected="false"><ul><li>Training</li></ul></button>
        </li>
        
      </ul>
      <div class=" mx-3 tab-content " id="pills-tabContent">
        <div class="tab-pane fade show active shadow-lg rounded px-3" id="pills-Data-Collection" role="tabpanel" aria-labelledby="pills-home-tab">
           <p>
            As an organization, we identify data needs for some sectors, define data collection methods, 
            ensure data quality, respect data privacy and security, 
            use technology wisely, obtain consent, regularly review and update practices, consider data ethics to achieve several objectives.
           </p>

           
    

        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Data-Cleaning" role="tabpanel" aria-labelledby="pills-home-tab">
            <p>
              As an organization, we identify data needs for some sectors, define data collection methods,
               ensure data quality, respect data privacy and security, use technology
               wisely, obtain consent, regularly review and update practices, consider data ethics to achieve several objectives
               </p>
    
                
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Data-Visual" role="tabpanel" aria-labelledby="pills-home-tab">
            <p>
              We experiment with various types of visualizations such as charts, graphs, maps,
               and info graphics. Different types of data may be best represented using different visualization formats.
               </p>
    
                 <p>
                  We consolidate data from multiple sources
                   to create comprehensive visualizations that provide a holistic view of your organization's performance and trends.
                 </p>
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Statistical" role="tabpanel" aria-labelledby="pills-home-tab">
            <p>
              As an organization, there are numerous ways that we do leverage statistical analysis to gain insights,
               make informed decisions, and optimize various aspects of various operations. To effectively leverage statistical analysis,
                we have skilled personnel with expertise in statistics,
               data analysis tools and software, and data infrastructure to collect, store, and analyze data efficiently.
               </p>
    
                 <p>
                  Additionally, ensuring data quality and security is crucial to derive accurate and reliable insights from statistical analysis.
                 </p>
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Thematic" role="tabpanel" aria-labelledby="pills-home-tab">
            <p>
              We clearly articulate what you want to achieve through thematic analysis.
               Identify the purpose of analysis and the specific questions you want to answer. 
               </p>
    
                 <p>
                  We seek feedback from peers, colleagues, or stakeholders to ensure the credibility and trustworthiness of your analysis. 
                 </p>
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Custom" role="tabpanel" aria-labelledby="pills-home-tab">
            <p>
              Custom research projects offer tailored solutions to address specific needs or questions within your organization.
               By conducting such projects, you can gain deeper insights into market trends, customer
               preferences, industry dynamics, or any other area of interest. These projects typically involve
                a systematic approach to data collection, analysis, and interpretation, often utilizing a variety of research methods such as surveys
                , interviews, focus groups, or data mining techniques.
                Collaborating with experts in the field can help ensure the quality and relevance of the research findings.  
               </p>
    
                 <p>
                  Ultimately, custom research projects empower your organization to make informed decisions,
                   innovate effectively, and stay ahead in a competitive landscape.
                 </p>
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-ML" role="tabpanel" aria-labelledby="pills-profile-tab">
            <p>
                7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac gravida urna. Aliquam id ipsum sem. Nam tristique, sem id 
                convallis convallis, augue orci faucibus erat, in pulvinar ligula lorem non purus. Integer congue semper enim quis cursus. Sed
                 maximus tincidunt purus vitae pharetra. Vivamus lobortis ex tellus. Nullam lacus mauris, dapibus at facilisis a, lacinia id es
                 t. Curabitur aliquet nisi nulla, id ultricies augue mollis in. Suspendisse nec lobortis enim, quis convallis turpis. Donec eg
                 et felis elementum, volutpat odio in, pulvinar orci.
               </p>
    
                 <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac gravida urna. Aliquam id ipsum sem. Nam 
                    tristique, sem id convallis convallis, augue orci faucibus erat, in pulvinar ligula lorem non purus. Integer congue semper en
                    im quis cursus. Sed maximus tincidunt purus vitae pharetra. Vivamus lobortis ex tellus. Nullam lacus mauris, dapibus at fac
                    ilisis a, lacinia id es t. Curabitur aliquet nisi nulla, id ultricies augue mollis in. Suspendisse nec lobortis enim, quis 
                    convallis turpis. Donec eg et felis elementum, volutpat odio in, pulvinar orci.
                 </p>
        </div>

        <div class="tab-pane fade shadow-lg rounded px-3" id="pills-Training" role="tabpanel" aria-labelledby="pills-contact-tab">
            <p>
              We conduct training by establishing clear goals and objectives for data training program,
               identify the specific skills and knowledge areas needed for your team, develop a comprehensive curriculum that
                covers essential data concepts, tools, and techniques, provide hands-on training opportunities through workshops,
                 seminars, and online courses, encourage continuous learning and skill development through resources like books, articles,
                  and peer collaboration, foster a culture of data literacy and encourage employees to apply their skills in real-world scenarios,
                   evaluate the effectiveness of your training program regularly and make adjustments as needed to meet evolving needs and
                    technologies, consider investing in specialized training for advanced analytics or emerging technologies like machine
                     learning and artificial intelligence, 
              promote knowledge sharing and collaboration among team members to leverage collective expertise and experiences.
               </p>
        </div>
      </div>
    </section>

   <!----------------------------------------------------- section-three --------------------------------------------------------->
   <section class="section-three">
     <h1 class="section-three-header pt-5">Testimonials</h1>
     
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="c active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="c"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="c"></button>
  </div>
  <div class="carousel-inner px-3 mb-5">
    <div class="carousel-item active shadow-lg rounded">
      <p class="d-block w-100 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est sit amet venenatis semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse faucibus commodo velit a tempor. Mauris sollicitudin libero sed sapien pulvinar, cursus gravida ante scelerisque. Fusce pretium pretium tellus id ultricies. Donec enim nunc, sollicitudin nec sollicitudin vitae, tristique id velit. Nullam euismod viverra arcu vel porttitor. Maecenas ullamcorper velit vitae congue condimentum. Duis facilisis fermentum enim. Vestibulum maximus laoreet mauris. Pellentesque placerat massa eros, in tristique nunc molestie nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis egestas ante, a lacinia felis. Duis nec dapibus sem, at imperdiet ex.</p>
      <div class="testimonials-image">
        <img src="../public/images/WIN_20240130_01_17_04_Pro.jpg" class="d-block px-3" alt="image">
      </div>
      
    </div>
    <div class="carousel-item shadow-lg rounded">
      <p class="d-block w-100 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est sit amet venenatis semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse faucibus commodo velit a tempor. Mauris sollicitudin libero sed sapien pulvinar, cursus gravida ante scelerisque. Fusce pretium pretium tellus id ultricies. Donec enim nunc, sollicitudin nec sollicitudin vitae, tristique id velit. Nullam euismod viverra arcu vel porttitor. Maecenas ullamcorper velit vitae congue condimentum. Duis facilisis fermentum enim. Vestibulum maximus laoreet mauris. Pellentesque placerat massa eros, in tristique nunc molestie nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis egestas ante, a lacinia felis. Duis nec dapibus sem, at imperdiet ex.</p>
      <div class="testimonials-image">
        <img src="../public/images/WIN_20240130_01_17_04_Pro.jpg" class="d-block px-3" alt="image">
      </div>  
      </div>
    <div class="carousel-item shadow-lg rounded">
      <p class="d-block w-100 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est sit amet venenatis semper. Lorem ipsum door sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse faucibus commodo velit a tempor. Mauris sollicitudin libero sed sapien pulvinar, cursus gravida ante scelerisque. Fusce pretium pretium tellus id ultricies. Donec enim nunc, sollicitudin nec sollicitudin vitae, tristique id velit. Nullam euismod viverra arcu vel porttitor. Maecenas ullamcorper velit vitae congue condimentum. Duis facilisis fermentum enim. Vestibulum maximus laoreet mauris. Pellentesque placerat massa eros, in tristique nunc molestie nec. Lorem ipsum dolor st amet, consectetur adipiscing elit. Aliquam quis egestas ante, a lacinia fel Duis nec dapibus sem, at imperdiet ex.</p>
      <div class="testimonials-image">
        <img src="../public/images/WIN_20240130_01_17_04_Pro.jpg" class="d-block px-3" alt="image">
      </div>
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
     
   </section> 
   
   <!----------------------------------------------- footer --------------------------------------------------------------->
   <footer class="py-3">
    <p>Copyright M2 Data Analytics & insights. All rights reserved</p>
  </footer>
  
  <!--Bootstrap with popper js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
  <!-- custom js -->
  <script src="../src/main.js"></script>
</body>
</html>