@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
    font-size: 15pt;
}
.navbar-nav .nav-link{
  color: #435334;
}

.navbar-nav .nav-link:active{
  color: #78d422;
}

.logo{
  width: 35px;
  height: 35px;
}
/*************************************section-one style**************************************************************************/

.section-one{
  color: #435334;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/************************************section-two style*********************************************************************************/
.section-two{
  
  color: white;
  background-color: #435334;
}


.section-two-header,
.section-three-header{

  text-align: center;
}



.tab-pane{
  
  background-color: #4f633b;
  
}


ul.nav-pills > li.nav-item > button.service-button.active {
  
  background-color: white;
  color: #435334;
  border-radius: 20px;
}


ul.nav-pills > li.nav-item > button.service-button{
  color: #91eb8b;
  opacity: 0;
  
}

.animation-one{
  opacity: 0;
  transform: translate(-200px, -200px);
  animation: slide 1s ease forwards;
}

@keyframes slide {
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}

.animation-two{
  opacity: 0;
  transform: translateX(200px);
  animation: movein 0.9s ease forwards;
}

@keyframes movein {
  100%{
    opacity: 1;
    transform: translateX(0);
    
  }
  
};

.anim2{
  opacity: 1;
  transform: translateX(-100px);
  animation: mee 1s ease forwards;
}
@keyframes mee {
  100%{
    opacity: 1;
    transform: translateX(0);
  }
  
}


/********************************** section-three ************************************/
.section-three{
  color: #435334;
}

footer{
  background-color: #435334;
  color: #174713;
}

p{
  width: 85vw;
  line-height: 1.8;
}


.testimonial-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.carousel-indicators .indicate{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #435334;
}
.carousel-indicators .indicate.active{
  background-color: #435334;
}


.testimonial-paragraph{
  
  background-color: whitesmoke;
  
  
  
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%435334' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%435334' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev,
.carousel-control-next{
      top: 50%;
}

footer > p{
  text-align: center;
}



.contact-body{
  color: #435334;
  padding-top: 70px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form{
  opacity: 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.anim1{
  opacity: 0;
  transform: translateX(-150px);
  animation: hmm 1s ease forwards;
}

@keyframes hmm {
  99%{
    
    transform: scale(1.02);
  }
  100%{
    opacity: 1;
    transform: translateX(0); 
  }
  
}
.contact-btn{
  color: white;
  background-color: #435334;
  border: 1px solid white;
  border-radius: 15px;
}


.about_us{
  color: #435334;
  padding-top: 70px;
  
 
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-first-person, .about-second-person{
  
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
 
  background-color: whitesmoke;
  padding-inline: 30px;
  
}
.about-us-paragraph{
width: 60vw;
}
.anim{
  opacity: 0;
  transform: translateX(-150px);
  animation:yee 1s ease forwards;

}

@keyframes yee {
  99%{
    
    transform: scale(1.02);}
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
  
}
.about-us-img{
  width: 200px;
  height: 200px;
  border: 2px solid #435334;
  border-radius: 50%;

}
.about-us-paragraph{
  text-align: center;
}

@media (min-width: 900px) {
  .about-us-paragraph{
  text-align: justify;
}
}
