@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p{
  line-height: 1.8;
}
body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-item > a.nav-link{
  color: #435334;
}

.navbar-nav .nav-item > a.nav-link:active{
  color: #78d422;
}

.logo{
  width: 35px;
  height: 35px;
}
/*************************************section-one style**************************************************************************/

.section-one{
  color: #435334;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/************************************section-two style*********************************************************************************/
.section-two{
  
  color: white;
  background-color: #435334;
}


.section-two-header,
.section-three-header{

  text-align: center;
}



.tab-pane{
  
  background-color: #4f633b;
  
}


ul.nav-pills > li.nav-item > button.service-button.active {
  
  background-color: white;
  color: #435334;
  border-radius: 20px;
}


ul.nav-pills > li.nav-item > button.service-button{
  color: #91eb8b;
  opacity: 0;
  
}

.animation-one{
  opacity: 0;
  transform: translate(-200px, -200px);
  animation: slide 1s ease forwards;
}

@keyframes slide {
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}

.animation-two{
  opacity: 0;
  transform: translateX(200px);
  animation: movein 0.9s ease forwards;
}

@keyframes movein {
  100%{
    opacity: 1;
    transform: translateX(0);
    
  }
  
};

.anim2{
  opacity: 1;
  transform: translateX(-100px);
  animation: mee 1s ease forwards;
}
@keyframes mee {
  100%{
    opacity: 1;
    transform: translateX(0);
  }
  
}


/********************************** section-three ************************************/
.section-three{
  color: #435334;
}

footer{
  background-color: #435334;
  color: #174713;
}

.tab-pane > p{
  width: 85vw;
}


.testimonial-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.carousel-indicators .indicate{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #435334;
}
.carousel-indicators .indicate.active{
  background-color: #435334;
}


.testimonial-paragraph{
  
  background-color: whitesmoke;
  
  
  
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%435334' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%435334' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev,
.carousel-control-next{
      top: 50%;
}

footer > p{
  text-align: center;
}

/************************************************** event style *************************************************/
.event-section{
  padding-top: 80px;
  color:#435334
}
.event-header{
  display: flex;
  justify-content: center;
}
.event-intro{
  padding-inline:1rem;
  width: 100%;
  
}
.event-flier{
  
  position: relative;
  border: 2px solid #435334 ;
  border-radius: 12px;
  min-height: 100vh;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1em;
}
.event-flier > .event-flier-content{
font-size: 1.6rem;
max-width: 40vw;
min-height: 100vh;
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding: 2%;
}

.event-flier::after{
  content: ' ';
  background-color: #435334;
  background-image: url(../public/images/event-picture.jpg);
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 50%;
  height: 100%;
  right: 0%;
}
.event-flier-content > a{
  margin-top: 35px;
  color: #435334;
}
.register-button{
  border:1px solid #435334;
  border-radius: 20px;
  color: #435334;
}
.register-button:active{
  color: white;
  background-color: #435334;
}
/* .card-img-top{
  height: 300px;
}
.e{
  padding-inline: 20px;
  padding-top: 100px;
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.events-container{

  padding-top:100px;
  
  background-color: #78d422;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  border: 10px solid pink;
}
.event{
display: flex;
flex-direction: column;

}

.hmm{
  width: 15rem;
  height: 15rem;
}
.events-container > div{
  flex-basis: 15rem;
  
  border: 1px solid black;
  
} */

/***************************************** contact us style ***************************************************************** */

.contact-body{
  color: #435334;
  padding-top: 80px;
  min-height: 100vh;
  min-height: 100svh;
}
i{
  background-color: #435334;
  color: white;
  border: solid 1px;
  padding:20px;
  border-radius:50%;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form{
  width: fit-content;
  opacity: 0;
  background-color: whitesmoke;

  
}
.contact-form-centering{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contact-form-centering > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:250px;
}

.anim1{
  opacity: 0;
  transform: translateX(-150px);
  animation: hmm 1s ease forwards;
}

@keyframes hmm {
  99%{
    
    transform: scale(1.02);
  }
  100%{
    opacity: 1;
    transform: translateX(0); 
  }
  
}


.contact-btn{
  padding-inline: 20px;
  padding-block: 8px;
  color: white;
  background-color: #435334;
  border: 1px solid white;
  border-radius: 20px;
}

.contact-link:active{
  background-color: #305012;
  border-radius: 10px;
}

/* *************************************************about us style********************************************************************** */

.about_us{
  color: #435334;
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-first-person, .about-second-person{
  
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
 
  background-color: whitesmoke;
  padding-inline: 30px;
  
}
.about-us-paragraph{
width: 60vw;
}
.anim{
  opacity: 0;
  transform: translateX(-150px);
  animation:yee 1s ease forwards;

}

@keyframes yee {
  99%{
    
    transform: scale(1.02);}
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
  
}
.about-us-img{
  width: 200px;
  height: 200px;
  border: 2px solid #435334;
  border-radius: 50%;

}
.about-us-paragraph{
  text-align: center;
}
/*********************************************************** media query *************************************************************** */
@media (min-width: 900px) {
  .about-us-paragraph{
  text-align: justify;
}
}



